extends ../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/adHome") Home
				li.breadcrumb-item: a(href="/adCitas") 城市列表
				li.breadcrumb-item.active(aria-current="page") #{title}
		hr
		form#adCitaPost-Form(method="post", action="/adCitaPost")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="codeIpt")#codeLabel.text-info 城市编号
				.col-8.col-sm-6
					input#codeIpt.form-control(type="text", name="obj[code]")
				.offset-4.offset-sm-2.col-8.col-sm-6#codeOpt.text-danger(style="display:none")
					span 城市编号长度范围: #{Stint.Cita.code.trim} 的英文字母
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="nomeIpt")#nomeLabel.text-info 城市名称
				.col-8.col-sm-6
					input#nomeIpt.form-control(type="text", name="obj[nome]")
				.offset-4.offset-sm-2.col-8.col-sm-6#nomeOpt.text-danger(style="display:none")
					span 请输入城市名称范围: [#{Stint.Cita.nome.min} ~ #{Stint.Cita.nome.max}] 个字符
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="AreaIpt")#AreaLabel.text-info 所属大区
				.col-8.col-sm-6
					select#AreaIpt.form-control(name="obj[Area]", data-style="btn-info")
						each Area in Areas
							-a;
							option(value=Area._id) #{Area.code}
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="is_usableIpt") 是否可用
				.col-8.col-sm-6
					select#is_usableIpt.form-control(name="obj[is_usable]", data-style="btn-info")
						option(value="true") 可用
						option(value="false") 禁用
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="sortIpt") 排序
				.col-8.col-sm-6
					input#sortIpt.form-control(type="number", name="obj[sort]", value=0)
			hr
			.form-group.row
				.offset-sm-6.col-sm-2
					input.btn.btn-success.btn-block(type="submit" value="提交")
	input#String_Cita(type="hidden", value=Stint.Cita)
	//- script(src="/js/ader/CitaEdit.js")