extends ../../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/adHome") Home
				li.breadcrumb-item: a(href="/adFirm/"+Firm._id) 公司详情
				li.breadcrumb-item.active(aria-current="page") 状态列表
		.row
			.col-md-6.col-12
				span 所属店铺: #{Firm.code}
			.col-md-6.col-12.text-right
				button.mr-5.btn.btn-danger#toggle_del_Btn(type="button") -
				a.btn.btn-warning.mr-4(href="/adStepAdd/"+Firm._id) +

		.row.mt-3
			.col-12
				table.table.table-hover.table-bordered
					thead
						tr
							th 编号
							th sort
							th 名称(init)
							th User关联
							th Client
							th Client关联
							th.del_show 删除
					tbody
						each Step in Steps
							tr(class="Step-id-"+Step._id)
								td: a(href="/adStep/"+Step._id) #{Step.code}
								td #{Step.sort}
								td
									span #{Step.nome}
									if Step.is_initUser
										span.text-success.ml-2 (初始)
								td
									- i = -1;
									each rel in Step.rels
										- i++;
										if i!==0 
											span -
										span [#{rel.Step.code}] &nbsp;
								td
									if Step.exist_Client
										span #{Step.nome_Client}
										if Step.is_initClient
											span.text-success.ml-2 (初始)
								td
									- i = -1;
									each rel in Step.crels
										- i++;
										if i!==0 
											span -
										span [#{rel.Step.code}] &nbsp;
								td.del_show
									a.btn.btn-danger(href="/adStepDel/"+Step._id) 删除