extends ../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/adHome") Home
				li.breadcrumb-item: a(href="/adShops") 商店列表
				li.breadcrumb-item.active(aria-current="page") 添加商店
		hr
		form#adShopPost-Form(method="post", action="/adShopPost", autocomplete="off")
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="codeIpt")#codeLabel.text-info 帐号
				.col-8.col-sm-6
					input#codeIpt.form-control(type="text", name="obj[code]")
				.offset-4.offset-sm-2.col-8.col-sm-6#codeOpt.text-danger(style="display:none")
					span 商店账户长度[#{Stint.Shop.code.min}, #{Stint.Shop.code.max}]的英文字母或数字
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="nomeIpt") 商店名称
				.col-8.col-sm-6
					input#nomeIpt.form-control(type="text", name="obj[nome]")
				.offset-4.col-8.col-form-label.text-danger
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="FirmIpt")#FirmLabel.text-info 公司
				.col-8.col-sm-6
					select#FirmIpt.form-control(name="obj[Firm]", data-style="btn-info")
						//- option(value=0) 请选择
						each Firm in Firms
							option(value=Firm._id) #{Firm.code}
				.offset-4.offset-sm-2.col-8.col-sm-6#FirmOpt.text-danger(style="display:none") 请选择公司
			.form-group.row
				label.col-4.col-sm-2.col-form-label(for="is_usable")#is_usableLabel 是否可用
				.col-8.col-sm-6
					select#is_usable.form-control(name="obj[is_usable]", data-style="btn-info")
						option(value="true") 可用
						option(value="false") 禁用
			.form-group.row
				label.col-3.col-form-label(for="allow_virtualOrder", title="允许生成虚拟订单") 允许生成虚拟订单
				.col-9
					.form-check.form-check-inline
						input#allow_virtualOrder.form-check-input(type="checkbox", name="obj[allow_virtualOrder]")
						label.form-check-label
			.form-group.row
				label.col-3.col-form-label(for="allow_codeDuplicate", title="允许不同的供应商存在相同的产品号") 同产品号
				.col-9
					.form-check.form-check-inline
						input#allow_codeDuplicate.form-check-input(type="checkbox", name="obj[allow_codeDuplicate]")
						label.form-check-label
			.form-group.row
				label.col-3.col-form-label(for="allow_Supplier", title="允许有专有供应商") 允许有专属供应商
				.col-9
					.form-check.form-check-inline
						input#allow_Supplier.form-check-input(type="checkbox", name="obj[allow_Supplier]")
						label.form-check-label
			.form-group.row
				label.col-3.col-form-label(for="is_Pnome") 存产品名
				.col-9
					.form-check.form-check-inline
						input#is_Pnome.form-check-input(type="checkbox", name="obj[is_Pnome]")
						label.form-check-label
			.form-group.row
				.offset-sm-6.col-sm-2
					input.btn.btn-success.btn-block(type="submit" value="添加")
	input#Stint_Shop(type="hidden", value=Stint.Shop)
	script(src="/js/ader/ShopEdit.js")