table.mt-3.table.table-hover
	if Shop.Firm
		- Firm = Shop.Firm;
		tr
			td: strong 所属公司:
			td #{Firm.code} [#{Firm.nome}]
	tr
		td: strong 账号:
		td #{Shop.code}
	tr
		td: strong 名称:
		td #{Shop.nome}
	tr
		td: strong 是否可用:
		td
			if Shop.is_usable
				span 可用
			else
				span.text-warning 禁用
	tr
		td: strong createAt:
		td #{moment(Shop.at_crt).format('DD/MM/YYYY HH:mm:ss')}

	tr
		td: strong 允许虚拟订单:
		td
			if Shop.allow_virtualOrder === true
				span 是
			else
				span 否
	tr
		td: strong 允许不同供应商下有相同编号的产品:
		td
			if Shop.allow_codeDuplicate === true
				span 是
			else
				span 否
	tr
		td: strong 允许添加专属供应商:
		td
			if Shop.allow_Supplier === true
				span 是
			else
				span 否
	tr
		td: strong 是否要加载产品名称:
		td
			if Shop.is_Pnome === true
				span 是
			else
				span 否