extends ../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/adHome") Home
				li.breadcrumb-item.active(aria-current="page") 国家列表
		.row
			.col-12.text-right
				btn.mr-5.btn.btn-danger#toggle_del_Btn(type="button") -
				a.btn.btn-warning(href="/adNationAdd") +

		table.table.table-hover.table-bordered.mt-3
			thead
				tr
					th 序号
					th 编号
					th 名称
					th 区号
					th 是否可用
					th sort
					th.del_show 删除
			tbody
				- let i = 0;
				each Nation in Nations
					- i++;
					tr(class="Nation-id-"+Nation._id)
						td #{i}
						td #{Nation.code}
						td #{Nation.nome}
						td #{Nation.tel}
						td
							if Nation.is_usable
								-a;
								span 可用
							else
								span.text-warning 禁用
						td #{Nation.sort}
						td.del_show: a.btn.btn-danger(href="/adNationDel/"+Nation._id) 删除